<div class="main_content_iner overly_inner">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-4">
        <div class="white_card card_height_100 mb_20">
          <div class="white_card_header">
            <div class="white_box_tittle">
              <h4 *ngIf="isSaveButton">Create Basic Form Element</h4>
              <h4 *ngIf="isUpdateButton">Update Basic Form Element</h4>
            </div>
          </div>
          <div class="white_card_body">
            <form #validationForm="ngForm">
              <div class="row"  ngModelGroup="basicFormData" #basicFormData="ngModelGroup">
              <div class="col-lg-12">
                <label class="form-label mb_10">Name</label>
                <div class="common_input mb_20">
                  <input
                    type="text"
                    name="name"
                    class="form-control" [(ngModel)]="basicForm.name" #name="ngModel" required/>
                  <div>
                    <small *ngIf="name.invalid && name.touched">Name is a required field</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label mb_10">Code</label>
                <div class="common_input mb_20">
                  <input
                    type="text"
                    name="code"
                    class="form-control" [(ngModel)]="basicForm.code" #code="ngModel" required
                  />
                  <div>
                    <small *ngIf="code.invalid && code.touched">Code is a required field</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label mb_10">Sequence</label>
                <div class="common_input mb_20">
                  <input
                    type="number"
                    name="sequence"
                    class="form-control"
                    min="1"
                    [(ngModel)]="basicForm.sequence" #sequence="ngModel" required
                  />
                  <div>
                    <small *ngIf="sequence.invalid && sequence.touched">Sequence is a required field</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <label class="form-label mb_10">Detail</label>
                <div class="common_input mb_20">
                  <textarea class="form-control" maxlength="225" rows="3" name="detail" id="maxlength-textarea"
                            placeholder="This textarea has a limit of 225 chars."
                            [(ngModel)]="basicForm.detail" #detail="ngModel" required></textarea>
                  <div>
                    <small *ngIf="detail.invalid && detail.touched">Detail is a required field</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <label class="form-label mb_10">Date</label>
                <div class="common_input mb_20">
                  <input
                    type="date"
                    name="date"
                    class="form-control" [(ngModel)]="basicForm.date" #date="ngModel" required
                  />
                  <div>
                    <small *ngIf="date.invalid && date.touched">Date is a required field</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <label class="form-label mb_10">Country</label>
                <div class="common_input mb_20">
                  <select
                    class="form-select" name="country"
                    aria-label="Default select country" [(ngModel)]="basicForm.country" #country="ngModel" required>
                    <option>Test</option>
                  </select>
                  <div>
                    <small *ngIf="country.invalid && country.touched">Country is a required field</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <label class="form-label mb_10">Division</label>
                <div class="common_input mb_20">
                  <ng-select name="division" [(ngModel)]="basicForm.division" #division="ngModel" required>
                    <ng-option>Select 1</ng-option>
                    <ng-option>Select 2</ng-option>
                    <ng-option>Select 3</ng-option>
                  </ng-select>
                  <div>
                    <small *ngIf="division.invalid && division.touched">Division is a required field</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <label class="form-label mb_10">City</label>
                <div class="common_input mb_20">
                  <ng-select name="city" [(ngModel)]="basicForm.city" #city="ngModel" required>
                    <ng-option>Select 1</ng-option>
                    <ng-option>Select 2</ng-option>
                    <ng-option>Select 3</ng-option>
                  </ng-select>
                  <div>
                    <small *ngIf="city.invalid && city.touched">City is a required field</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-form-label col-sm-4 pt-0">Gender</div>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" (change)="basicForm.gender = 'M'" id="gender1" value="M"
                             checked="">
                      <label class="form-label form-check-label" for="gender1">
                        Male
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" (change)="basicForm.gender = 'F'"  id="gender2" value="F">
                      <label class="form-label form-check-label" for="gender2">
                        Female
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" (change)="basicForm.gender = 'O'"  id="gender3" value="O">
                      <label class="form-label form-check-label" for="gender3">
                        Other
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" name="acknowledgement" id="acknowledgement"  [(ngModel)]="basicForm.acknowledgement" #acknowledgement="ngModel" required>
                  <label class="form-label mb_10"> I acknowledge.</label>
                  <div>
                    <small *ngIf="acknowledgement.invalid && acknowledgement.touched">This is a required field</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" *ngIf="isSaveButton" (click)="saveData()" [disabled]="basicFormData.invalid">
                  <i class="fa fa-save mr_10" aria-hidden="true"></i>Save
                </button>
                <button type="submit" class="btn btn-success mr_10" *ngIf="isUpdateButton" (click)="updateData()"
                        [disabled]="basicFormData.invalid">
                  <i class="fa fa-save mr_10" aria-hidden="true"></i>Update
                </button>
                <button type="submit" class="btn btn-danger" *ngIf="isUpdateButton" (click)="cancelData()">
                  <i class="fa fa-window-close mr_10" aria-hidden="true"></i>Cancel
                </button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="white_card card_height_100 mb_20">
          <div class="white_card_header">
            <div class="white_box_tittle">
              <h4>Basic Form List</h4>
            </div>
          </div>
          <div class="white_card_body">
            <div class="row">
              <div class="col-lg-12">
                <div class="row pt-3">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">SL</th>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Sequence</th>
                        <th scope="col">Date</th>
                        <th scope="col">Country</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let data of list; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.code}}</td>
                        <td>{{data.sequence}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.country}}</td>
                        <td>{{data.gender}}</td>
                        <td>
                          <p-toast />
                          <button class="btn btn-primary mr_10">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </button>
                          <button class="btn btn-success mr_10" (click)="editData(data)">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                          <button class="btn btn-danger ml_5" (click)="deleteData(data)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
