<section style="padding: 7em 0">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="mb_30">
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <img
                class="mx-auto d-block"
                src="assets/img/logo_white.png"
                style="width: 50%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="mb_30">
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="modal-content cs_modal">
                <div class="modal-body">
                  <div class="text-center" style="font-size: 24px">
                    Welcome to Demo UI
                  </div>
                  <br/>
                  <form>
                    <a (click)="login()" class="btn_1 full_width text-center">Log in</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
