<main>
  @if (authenticated$ | async) {
    <diu-nav></diu-nav>
    <section class="main_content dashboard_part large_header_bg">
      <diu-header></diu-header>
      <router-outlet></router-outlet>
      <diu-footer></diu-footer>
    </section>
    <div id="back-top" style="display: none" >
      <a title="Go to Top" href="#">
        <!-- <i class="ti-angle-up"></i> -->
        <img src="/assets/img/menu-icon/back_to_top.png" alt="" />
      </a>
    </div>
  } @else {
    <router-outlet></router-outlet>
  }
</main>
